.wrapper {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 0.1px solid rgb(130 130 130 / 30%);
}

.filter {
    margin: 50px 0;
    align-items: center;
    gap: 8px;
}

.filter-icon {
    font-size: 20px;
}
