.wrapper {
    display: flex;
    gap: 5px;
}

.rating-display {
    font-size: 1rem;
}

.action-star {
    color: var(--gray-dark);
}

.rating-result {
    display: flex;
    gap: 10px;
}

.rating-result button {
    font-size: 1rem;
}

.edit-mode-button,
.cancel-button {
    color: var(--orange);
}

.cancel-button {
    margin-left: 10px;
}

.primary-star {
    color: var(--orange) !important;
}
