.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper video {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.wrapper:fullscreen {
    width: 100vw;
    height: 100vh;
}

.wrapper:fullscreen video {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.wrapper:fullscreen div[type='controlbar'] {
    bottom: 0;
    display: none;
}

.big-play-btn,
.loading-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    width: 50px;
    height: 50px;
    background: #38333d;
    opacity: 0.9;
    border-radius: 50%;
    z-index: 8;
    font-size: 20px;
    cursor: pointer;
}

.loading-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    animation: loading 2s infinite;
}

@keyframes loading {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1113px) {
    .big-play-btn,
    .loading-btn {
        width: 100px;
        height: 100px;
        transform: translate(-50%, -65%);
        font-size: 40px;
    }

    .wrapper video {
        height: 100%;
    }
}
