.wrapper {
    max-width: 1150px;
    position: relative;
}

.movie-item {
    position: relative;
}

.vip-label {
    background: linear-gradient(114.88deg, #fe592a 0%, #e93013 97.15%);
    border-radius: 10px;
    padding: 0 10px;
}

.movie-suInfor {
    display: flex;
    gap: 20px;
    font-size: 0.875rem;
}

.voiceover-label {
    display: none;
    position: absolute;
    background: linear-gradient(114.88deg, #fe592a 0%, #e93013 97.15%);
    border-radius: 10px;
    padding: 0 10px;
    top: 10px;
    right: 10px;
    font-size: 0.7rem;
    z-index: 4;
    opacity: 0.8;
}

.movie-infor {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
}

.blur-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

@media (max-width: 550px) {
    .movie-name {
        font-size: 1.3rem;
    }
}

@media (min-width: 740px) {
}

@media (min-width: 1113px) {
    .movie-infor {
        bottom: 30px;
        left: 60px;
        height: 210px;
        justify-content: space-evenly;
    }

    .movie-suInfor {
        font-size: 1rem;
    }

    .vip-label {
    }

    .voiceover-label {
        font-size: 1.5rem;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1239px) {
}
