.wrapper {
    padding: 0 20px;
    min-height: 700px;
}

.recommend-keyword {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-results {
    margin-top: 30px;
}

.error-message {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark);
    min-height: 500px;
}

.movie-item-name {
    font-size: 0.9rem;
}

.movie-item button,
.movie-item a {
    position: relative;
}

.movie-item button:hover .movie-item-image_overlay,
.movie-item a:hover .movie-item-image_overlay {
    opacity: 0.7;
}

.movie-item-image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
    width: 100%;
    height: 100%;
}

.movie-item button:hover .overlay-icon-play,
.movie-item a:hover .overlay-icon-play {
    display: inline-block;
}

.overlay-icon-play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    opacity: 1;
    font-size: 2rem;
}
